.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 42px;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #fff;
}

.footer .completed {
  margin-top: 14px;

  text-transform: uppercase;
}

.footer .icons {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 6px;
  margin-bottom: 10px;
}

.footer .icons .icon + .icon {
  margin-left: 5px;
}

.restart-btn {
  border: none;
  border-radius: 5px;
  background-color: #fb6b6b;
  text-transform: uppercase;

  color: #fff;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  padding: 8px 20px;

  margin-top: 24px;
  margin-bottom: 22px;
  cursor: pointer;
}
