.game {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  position: relative;

  padding-bottom: 100px;
}

.game .questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 50px;

  width: 100%;

  padding: 0 38px;
}

.game .questions .question + .question {
  margin-top: 25px;
}
